
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

.main-content {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 10px 90px;    
}

/* about styles */

.about {
    margin-bottom: 40px;
}

.about-name {
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
}

.about-position {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

.about-description {
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-indent: 20px;
}

/* project styles */

.title {
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.projects-list {
    padding: 0px;
    margin-left: 15px;
}

.projects-item {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project, .project-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project-bracket {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* work styles*/

.work {
    margin-top: 50px;
}

.works-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.work-position {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization {
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.period {
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work-list {
    padding: 0px;
    margin-left: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* education styles */

.education {
    margin-top: 45px;
}

.education-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.school {
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-top: 10px;
    margin: 0;
    margin-bottom: 10px;
}

.specialty {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0;
    margin-bottom: 10px;
}

/* sidebar styles */

.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    min-width: 370px;
}

.photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto 51px;
    border-radius: 50%;
}

.contacts, .tech-skills, .soft-skills, .languages {
    margin-left: 40px;
}

.tech-skills {
    margin-bottom: 45;
}

.sidebar-title {
    color: #FFFFFF;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-link {
    margin-left: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.tech-skills-list {
    color: #FFFFFF;
    padding: 0px;
    margin: 17px;
}

.tech-skills-item {
    color: #FB6D3A;
}

.tech-skills-text {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
}

.soft-skills-list {
    color: #FFFFFF;
    padding: 0px;
    margin: 17px;
}

.soft-skills-item {
    color: #FB6D3A;
}

.soft-skills-text {
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.languages-list {
    color: #FFFFFF;
    padding: 0px;
    margin: 17px;
}

.languages-item {
    color: #FB6D3A;
}

.languages-text {
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}